# Godot 4+ specific ignores
.godot/
/android/

# Temporary check & log files
godot_check.txt
godot_check_err.txt
godot_temp.log
.sconsign.dblite
/src/*.os

# Local environment overrides
.env
.env.*
!.env.example
